* {
    margin: 0px;
    padding: 0px;
    font-family: 'Arima', cursive;
    font-family: 'Oswald', sans-serif;
}

.first-section {
    background-image: url(images/donation4.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.firsttext h1 {
    font-size: 70px;
    text-shadow: 5px 7px 6px rgba(19, 10, 10, 0.76);
    font-weight: 800;
    color: orange;
    text-align: center;
    padding-top: 17%;
}

.firsttext p {
    font-size: 22px;
    text-shadow: 5px 7px 6px rgba(19, 10, 10, 0.76);
    font-weight: 600;
    color: orange;
    text-align: center;
    padding-bottom: 30px;
}

.Donate-Button {
    color: azure;
    margin-left: 45%;
    text-decoration: none;
    font-size: 22px;
    border-radius: 7px;
    padding: 10px 18px;
    background-color: tomato;
}

.second-section h1 {
    margin-top: 80px;
    font-size: 60px;
    text-align: center;
    padding: 20px;
}

.second-section p {
    font-size: 23px;
    text-align: center;
    padding: 20px 20%;
    margin-bottom: 30px;
}

.boxer {
    display: flex;
    padding: 30px;

}

.boxes {
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 6px;
    padding: 30px;
    border: 2px solid grey;
    margin-left: 60px;
    margin-right: 20px;
    background-color: antiquewhite;
}

#speacial-box {
    color: red;
    background-color: rgba(240, 200, 200, 0.911);
    border: 2px solid red
}

#Ammount {
    text-align: center;
    padding: 5px;
}

hr {
    width: 60%;
    margin-left: 20%;
    text-align: center;
    margin-bottom: 25px;
}

.Donate-Plan {
    padding: 20px;
    margin-top: 40px;
}

.icon-boxes {
    display: flex;
}

.icon-text {
    font-size: 25px;
    text-align: center;
    padding: 30px;

}

#box-1 img {
    margin-bottom: 10px;
    width: 25%;
    padding-top: 20px;
}

#box-1 {
    height: 300px;
    width: 400px;
    padding: 5px;
    box-shadow: 7px 5px 20px gray;
    border-radius: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    margin-left: 25px;
    border: 2px solid rgb(190, 230, 131);
    background-color: rgb(247, 243, 196);
}

#box-2 img {
    margin-bottom: 10px;
    width: 25%;
    padding-top: 20px;
}

#box-2 {
    height: 300px;
    width: 400px;
    padding: 5px;
    box-shadow: 7px 5px 20px gray;
    border-radius: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    margin-left: 25px;
    border: 2px solid rgb(190, 230, 131);
    background-color: rgb(227, 252, 213);
}

#box-3 img {
    margin-bottom: 10px;
    width: 25%;
    padding-top: 20px;
}

#box-3 {
    height: 300px;
    width: 400px;
    padding: 5px;
    box-shadow: 7px 5px 20px gray;
    border-radius: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    margin-left: 25px;
    border: 2px solid rgb(190, 230, 131);
    background-color: rgb(213, 230, 245);
}

.Our-Activity {
    display: flex;
    text-align: center;

}

#activity {
    font-size: 50px;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.Activity {
    height: 170px;
    width: 170px;
    margin-left: 60px;
    margin-right: 30px;
    box-shadow: 5px 5px 20px gray;
    border: 2px solid greenyellow;
    border-radius: 50%;
    background-color: aquamarine;
}

.Activity h1 {
    margin-top: 50PX;
}

.join {
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.email-box {
    text-align: center;
    margin-left: 23%;
    height: 230px;
    width: 730px;
    border-radius: 10px;
    background-color: rgba(240, 217, 190, 0.863);
    margin-bottom: 30px;
}

#input {
    color: black;
    font-weight: 800;
    background-color: rgba(235, 230, 192, 0.849);
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    font-size: 17px;
    padding: 5px;
    margin-top: 110px;
}

#submit {
    background-color: orangered;
    color: whitesmoke;
    font-weight: 500;
    border: 2px solid black;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 110px;
    width: 15%;
    font-size: 18px;
    padding: 5px;
}

.footer {
    height: 32vh;
    color: whitesmoke;
    text-align: center;
    background-color: rgb(43, 39, 39);
}

.footer h1 {
    padding-top: 5%;
}

#Name {
    color: rgb(245, 127, 30);
    font-size: 20px;
}